.image_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/assets/old_city.jpg');
    background-size: cover; /* Ajuste la taille de l'image pour qu'elle soit entièrement visible */
    background-repeat: no-repeat;
    background-position: center; /* Empêche la répétition de l'image */
    height: 60vh;
    width: 100% ;
    margin-bottom: 40px;
    
}

.quote{
    color: white ;
    font-size: 24px;
    margin-top: 40px ;
    font-family: italic;
    font-weight: 600;
    

}
.author{
    font-size: 25px;
    font-weight: bold;
    font-family: italic;
    padding-top: 20px;
    color:bisque ;
}


.post_container{
    display: flex;
    flex-wrap: wrap;
}

.post{
    margin-bottom: 30px;
}
.first_post_description{
    height: 70vh;
    width: 120vh;
    background-color: rgba(202, 128, 5, 0.05);
    margin-left: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
.post_description{
    height: 78vh;
    width: 120vh;
    background-color: rgba(202, 128, 5, 0.05);
    margin-left: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.post_image{
    margin-left: 100px;
    margin-top: 80px;
}

.post_title{
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 25px;
}

.post_paragraph{
    text-indent: 20px;
    text-align: start;
    font-size: 16px;
    padding: 15px
    
}

.read_more_about_poterie{
    color:white ;
    background-color: black;
    font-weight: bold;
    font-size: 14px;
    margin-left: 350px;
    padding: 15px;
    width: 150px;
    text-decoration: none;
    margin-top: 25px;
}