
  
  table {
    width: 80%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  /* CSS for the product image and title */
  .product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .row {
    display: flex;
    align-items: center;
  }
  
  .cart_text {
    
    margin-right: 10px;
    font-weight: bold;
    margin-left: 50px;
   
  }

  .cart_images{
    display: flex;
    flex-direction: column;
  align-items: center;
  text-align: center;
  }
  
  /* CSS for the input field */
  .quantity {
    width: 40px;
    padding: 5px;
    text-align: center;
  }
  
  /* CSS for the delete/trash icon */
  .trash {
    cursor: pointer;
    color: red;
    font-size: 22px;
  }
.price{
    font-weight: bold;
    color:green;
    font-size: 18px;
}

.table_container{
    display: flex;
    
    justify-content: center;
}

.total-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    width:80%;
    margin-top: 40px;
    margin-left: 150px;
    
  }
  
  .total-text {
    font-weight: bold;
  }
  
  .total-amount {
    font-weight: bold;
    color: green;
  }
.checkout_container{
  display: flex;
  justify-content: center;
}

.checkout_btn{
  background-color: black;
  color:white;
  font-weight: bold;
  padding: 15px ;
  display: flex;
  justify-content: center;
  margin-top: 35px;
  width: 150px;
  margin-bottom: 100px;
}