.body{
    margin: 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.column{
    width: 40%;
    padding: 0 15px;
    margin-left: 90px;
    margin-bottom: 20px;
}
.instruction{
    margin-top: 20px;
    font-size: 15px;
    position: relative;
  padding-left: 30px;
  text-align: justify;
}

.instruction::before{
  content: "";
  position: absolute;
  left: 0;
  top: 28%;
  transform: translateY(-50%);
  width: 6px; /* Diamètre du cercle */
  height: 6px; /* Diamètre du cercle */
  background-color: rgba(202, 128, 5, 0.85); /* Couleur de fond du cercle */
  border-radius: 50%;
}
.title{
    font-size: 32px;
    font-family: italic;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}